body {
    margin: 0px;
    padding: 0px;
    font-family: "Ubuntu", "DejaVu Sans", "Noto Sans", sans-serif;
}

#desktop {
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    z-index: 0;
    color: white;
    background-size: contain;
}
/* TASK BAR */
#taskbar{
    position: relative;
    z-index: 10;
    width: 100%;
    height: 30px;
    background-color: #0B59A2;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 0px 14px 5px rgba(0,0,0,0.6) ;
    -webkit-box-shadow: 0px 0px 14px 5px rgba(0,0,0,0.6) ;
    -moz-box-shadow: 0px 0px 14px 5px rgba(0,0,0,0.6) ;
}
.task{
    display: flex;
    flex-direction: row;  
    align-items: center;
    margin-left: 5px;      
    min-width: 20px;
    max-width: 100px;
    height: 20px;
    padding: 3px;
    color: white;
    font-size: 12px;
    border-radius: 3px;
    background-color: #0077D2;
    white-space: nowrap;       
    overflow: hidden;         
    text-align: left;
    text-overflow: ellipsis;
    cursor: pointer;
    user-select: none;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.6);
}
/* ICON */
#icon-container{
    z-index: 1;
    width: 100%;
    height: calc(100% - 30px);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(70px, 1fr));
    grid-auto-flow: column;
}
.icon{
    margin: 5px;
    padding: 0px;
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    cursor: pointer;
    user-select: contain;
}
.icon-img{
    margin: 0;
    width: 50px;
    height: 50px;
    user-select: none;
}
.icon-p{
    margin: 0;
    width: 100%;
    text-align: center; 
    font-size: small;
    font-weight: bold;
    white-space: nowrap;       
    overflow: hidden;         
    text-overflow: ellipsis;
}
.icon-opt{
    z-index: 3;
    margin: 0px;
    padding: 5px;
    position: absolute;
    font-size: medium;
    text-align: center;
    color: white;
    display: block;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}
.icon-opt:hover{
    background-color: rgba(0, 0, 0, 1);
}
/* WINDOW */
#window-container{
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 30px);
    pointer-events: none;
}
.window{
  background: rgba(0,0,0,0.5);
  /* border: 1px solid rgba(0, 0, 0, 0.3); */
  position: absolute;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.window-t-bar{
    width: 100%;
    height: 30px;
    margin: 0px;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    background-color: #0B59A2;
}
.window-t1{
    cursor: move;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    flex: 1;
    height: 20px;
    text-align: left;
    align-items: center;
    color: white;
}
.window-t2{
    margin: 0px;
    display: flex;
    flex-direction: row;
    width: 75px;
    height: 20px;
    align-items: center;
}
.window-t-img{
    margin: 0px;
    padding: 0px 2.5px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
}
.window-t-img:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.window-md{
    flex:1;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    text-align: justify;
    overflow-y: auto;
    background-color: rgb(40, 40, 40);
    color: white;
}
.window-folder{
    flex:1;
    padding: 10px;
    overflow-y: auto;
    background-color: rgb(40, 40, 40);
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(70px, 1fr));
    grid-auto-flow: row;
}
.window-image-box{
    flex:1;
    display: flex;
    overflow: auto;
    padding: 10px;
    background-color: rgb(40, 40, 40);
    justify-content: center;
}
.window-image{
    max-width: 100%; 
    height: auto; 
    object-fit: contain; 
    display: block;
}
.window-pdf-box{
    flex: 1; 
    overflow: auto;
}
.window-pdf{
    width: 100%; 
    height: 100%; 
    border: none;
    display: block; 
}
.window-list-box{
    width: 100%;
    height: calc(100% - 30px);
    display: flex;
    flex-direction: row;
}
.window-list-ul{
    margin: 0;
    padding: 0;
    min-width: 150px;
    max-width: 200px;
    width: 20%;
    height: 100%;
    background-color: #0077D2;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.window-list-ul::-webkit-scrollbar {
    display: none;  
}
.window-list-li {
    width: 100%;
    height: 40px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    color: white;
    background-color: #0077D2;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
}
.window-list-li span {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
}
.window-list-li-hr{
    width: 100%; 
    margin: auto;
}
.window-list-md{
    flex:1;
    min-width: 0;
    min-height: 0;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    text-align: justify;
    overflow-y: auto;
    background-color: rgb(40, 40, 40);
    color: white;    
}
/* MD */
.md-img{
    max-width: 70%; 
    width: 100%;
    height: auto;
}
.md-link{
    color: inherit; 
    text-decoration: underline; 
    cursor: pointer;
}